<div class ="container">
	<div class="row">
		<div class= "col-md-6 offset-md-3">
			<h1>Welcome to <i class="fas fa-book"></i>Bookers !!</h1>
			<p>In <i class="fas fa-book"></i>booers,<br>
				you can share and exchange your opinions,inpressions,and emotions<br>
			about various books!</p>

			<div class="col-10 ">
				<button type="button" class="btn btn-secondary btn-block">
					<%= link_to "sign up", new_user_registration_path %>
				</button>
				<button type="button" class="btn btn-success btn-block"><%= link_to "Log in", new_user_session_path %></button>
				<%= link_to "log out", destroy_user_session_path, method: :delete %>
			</div>
		</div>
	</div>
</div>