.notice{
	color: green;
}

.container{
	width: 970px;
}

.nav-icon{
	padding-left: 750px;
}


.logo{
	padding-left: 150px;
}

.colored a:hover {
	color: white;
	background-color: black;
}

.colored a {
	color: black;
}